.room {
  position: relative;
}

.room__item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--primary-light);
  border-radius: 5px;
}

.room__item:hover {
  background: var(--primary-light);
  border-radius: 5px;
  font-weight: bold;
  color: var(--light-text);
}

.room__title {
  text-transform: capitalize;
  position: absolute;
  background: white;
  text-align: center;
  font-weight: bold;
  top: -20px;
  left: 10%;
  right: 10%;
  margin-left: auto;
  margin-right: auto;
}
