.office {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.office__room {
  border: 1px solid var(--primary-shade);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 0 20px;
}

.office__room app-add-person {
  display: block;
  margin-top: 15px;
  border-top: 1px solid var(--primary-shade);
  padding-top: 5px;
}
