<div class="office">
  <div class="office__room">
    <app-room location="bossOffice"></app-room>
    <app-add-person location="bossOffice"></app-add-person>
  </div>
  <div class="office__room">
    <app-room location="conferenceRoom"></app-room>
    <app-add-person location="conferenceRoom"></app-add-person>
  </div>
  <div class="office__room">
    <app-room location="reception"></app-room>
    <app-add-person location="reception"></app-add-person>
  </div>
  <div class="office__room">
    <app-room location="sales"></app-room>
    <app-add-person location="sales"></app-add-person>
  </div>
</div>
